#root {
  /* width: 100%; */
  max-width: 1280px;
  height: 90dvh;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
}

.contents {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  margin-right: 1rem;
}

.contents h1 {
  font-size: 3.2em;
}

.contents .reveal {
  cursor: default;
  opacity: 1;
}

h1 {
  text-transform: uppercase;
  margin: 1rem 0;
  opacity: 1;
  animation: name-fadein 3s 1;
}

@keyframes name-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

ul {
  text-align: left;
  list-style: none;
  margin: 0;
}

main {
  flex: 1;
  text-align: center;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
}

/* main #screen .hide {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
}

main #screen .reveal {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
} */

main section {
  /* position: relative; */
  /* left: 400px; */
  /* display: none; */
}

main .hide {
  /* display: block; */
  /* visibility:hidden; */
  /* opacity: 0; */
  /* transition-duration: 0.5s; */
  /* transition-timing-function: ease-in-out; */
  /* transition-property: opacity; */
  display: none;
}

main .reveal {
  /* display: block; */
  /* visibility: visible; */
  /* opacity: 1; */
  /* transition-duration: 0.5s; */
}
